{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Book</title>
    <link rel="stylesheet" href="{% static 'books/delete-styles/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <main class="d-flex p-2 bd-highlight">
        <div class="card">
            <form class="card-body" style="background-color: #eaeaea;" method="POST">
                {% csrf_token %}
                <h2 class="card-title">Are You Sure About Delete «{{ object }}» Book From «{{ object.book_writer }}» ?</h2>
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
    </main>
</body>
</html>