{% extends 'registration/base.html' %}
{% load widget_tweaks %}

{% block title %}Reset Your Password{% endblock %}

{% block title_for_form %}<h1>RESET PASSWORD</h1>{% endblock %}


{% block content %}
<div class="row">
    <div class="formDiv col-12" style="transition-delay: 0.2s">
    <p>EMAIL</p>
    {{ form.email }}
    </div>
    <div class="formDiv col-12 mt-3" style="transition-delay: 0.4s">
    <button class="acceptBtn" type="submit">Reset</button>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger mt-3">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger mt-3">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}

{% block height %}350px{% endblock %}


