{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block title_for_form %}<h1>CHANGE PASSWORD</h1>{% endblock %}


{% block content %}
<div class="row">
    <div class="formDiv col-6" style="transition-delay: 0.2s">
    <p>OLD PASSWORD</p>
    {{ form.old_password }}
    </div>
    <div class="col-6"></div>
    <div class="formDiv col-6" style="transition-delay: 0.4s">
    <p>New Password</p>
    {{ form.new_password1 }}
    </div>
    <div class="formDiv col-6" style="transition-delay: 0.4s">
        <p>New Password Again</p>
        {{ form.new_password2 }}
    </div>
    <div class="formDiv col-12 mt-3" style="transition-delay: 0.6s">
    <button class="acceptBtn btn btn-danger p-4" type="submit">Change Password</button>
    </div>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger mt-3">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger mt-3">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}

{% block height %}550px{% endblock %}


