{% extends 'books/base.html' %}

{% block title %}All Books{% endblock %}

{% block navbar %}
<nav class="navbook">
    <ul>
        <li><a href="{% url 'books:read' %}">Read</a></li>
        <li><a href="{% url 'books:unread' %}">Unread</a></li>
        <li><a href="{% url 'books:random' %}">Random</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
{% for book in object_list %}
<tr>
  <td><a href="{% url 'books:details' book.book_slug %}">{{ book.book_name }}</a></td>
  <td><a href="{% url 'books:details' book.book_slug %}">{{ book.book_writer }}</a></td>
  <td><a href="{% url 'books:details' book.book_slug %}">{{ book.book_description|striptags|truncatewords:5 }}</a></td>
  <td><a href="{% url 'books:details' book.book_slug %}"><img src="{{ book.book_image.url }}" alt="{{ book.book_name }}"></a></td>
  <td align="center" valign="center" style="position: relative;" class="no-padding text-center">
    {% if book.book_status %}
        <label class="checkbox-wrap checkbox-primary">
            <input type="checkbox" checked>
            <a class="checkmark" href="{% url 'books:false' book.book_slug %}"></a>
        </label>
    {% else %}
        <label class="checkbox-wrap checkbox-primary">
            <input type="checkbox">
            <a class="checkmark" href="{% url 'books:true' book.book_slug %}"></a>
        </label>
    {% endif %}
  </td>
  <td>
    <a href="{% url 'books:delete' book.book_slug %}"><i class="fas fa-trash-alt"></i></a>
  </td>
  <td>
    <a href="{% url 'books:update' book.book_slug %}"><i style="color: #eaeaea;" class="fas fa-edit"></i></a>
  </td>
</tr>
{% endfor %}
{% endblock %}

{% block buttons %}
{% if is_paginated %}
<div class="next-pre">
    {% if page_obj.has_previous %}
    <a class=" btn btn1" href="{% url 'books:index' page_obj.previous_page_number %}">Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
    <a class=" btn btn2" href="{% url 'books:index' page_obj.next_page_number %}">Next</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}