{% extends 'registration/admin-account/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Admin Panel | {{ user.get_full_name }}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">
            <div class="form-group">
                <div class="row">
                <div class="col-6">
                    {{ form.book_name|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.book_writer|as_crispy_field }}
                </div>
                <div class="col-12">{{ form.book_description|as_crispy_field }}</div>
                <div class="col-4">{{ form.book_status|as_crispy_field }}</div>
                <div class="col-4">{{ form.book_image|as_crispy_field }}</div>
                <div class="col-12">
                <button type="submit" class="btn btn-primary">Send</button>
                </div>
                </div>
            </div>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}