{% extends 'registration/admin-account/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Change Password | {{ user.get_full_name }}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST">
            {% csrf_token %}
            <div class="card-body">
            <div class="form-group">
                <div class="row">
                <div class="col-6">
                    {{ form.old_password|as_crispy_field }}
                </div>
                <div class="col-6"></div>
                <div class="col-6">
                    {{ form.new_password1|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.new_password2|as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-danger">Change Password</button>
                </div>
                </div>
            </div>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}