{% extends 'registration/admin-account/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Delete Book
{% endblock %}

<style>
    thead{
        text-align: center;
    }
</style>

{% block content %}
<div class="col-md-8 text-center mx-auto">
    <div class="card card-success">
    <div class="card-header">
        <h3 class="card-title mb-0 float-left">Successfully</h3>
    </div>
    <div class="card-body py-4">
        <form method="POST">
            <p class="py-2">Your Password Successfully Changed.</p>
        </form>
    </div>
</div>
{% endblock %}