{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Confirmed</title>
    <link rel="stylesheet" href="{% static 'email-confirmation/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    main{
        background-image: url({% static 'registration/images/background.jpg' %});
    }
</style>
<body>
    <main class="d-flex p-2 bd-highlight">
        <div class="card">
            <form class="card-body" style="background-color: #eaeaea;" method="POST">
                <h2 class="card-title">Your Account Not Confirmed.</h2>
                <a class="btn btn-primary" href="{% url 'signup' %}">Signup</a>
            </form>
        </div>
    </main>
</body>
</html>